<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px" class="page-paddings">

  <app-sidebar *ngIf="isDeviceSm"></app-sidebar>

  <app-transaction-search></app-transaction-search>

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="12px" class="full-height">
    <app-sidebar *ngIf="!isDeviceSm"></app-sidebar>

    <div class="overflowAuto" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap.lt-md="16px" fxFlex>

      <app-transaction-menu></app-transaction-menu>

      <app-transaction-list fxFlex></app-transaction-list>

    </div>
  </div>
</div>
