<div fxLayout="column" fxLayoutAlign="start stretch" class="dialog">
  <mat-toolbar color="primary" class="navigation-text-color">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        Confirmation
      </div>
      <button mat-icon-button (click)="close(false)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="dialog-content-container" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="text-container">
      <div *ngIf="!message">Are you sure?</div>
      <div *ngIf="message">{{message}}</div>
    </div>

    <div fxLayoutAlign="end">
      <button mat-raised-button
              class="accept-button"
              color="primary"
              (click)="close(true)">
        <span class="navigation-text-color">Save</span>
      </button>

      <button mat-button class="cancel-button"
              (click)="close(false)">
        Cancel
      </button>

    </div>
  </div>
</div>
