@import 'src/app.theme.scss';

.dialog {
  width: 400px;

  .accept-button {

    @include media-breakpoint('xs') {
      width: 100%;
    }
  }

  .cancel-button {
    @include media-breakpoint('xs') {
      width: 100%;
    }
  }

  @include media-breakpoint('xs') {
    width: 100%;
  }
}
